h1 {
    font-size: 1.5 rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: brown;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin-top: 3%;
    align-self: center;
}
main>section>content {
    display: flex;
}
main>section:first-child{
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    padding-top: 5%;
    height: 30px;
    padding-bottom: 5%;
    font-size: 180%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: right;
}
main>section>content>button:last-child {
    background-color: rgb(241, 75, 14);
    color: aliceblue;
}
main>section>content>button {
    width: 25%;
    font-size: large;
    font-weight: 100;
    height: 60px;
}
.t2 {
    width: 50%;
}
.t3 {
    width: 75%;
}
